:root {
  background-color: rgb(41, 41, 41);
  color: ghostwhite;
}
.container {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.ctrl-container {
  min-width: 800px;
  display: flex;
  flex-direction: column;
}
.ctrl-container > p {
  font-size: 64px;
  text-align: center;
}
