.container {
  border: 2px solid black;
  border-top: none;
  position: relative;
}

.completed {
  text-decoration: line-through;
  color: gray !important;
}
.task {
  display: flex;
  background-color: white;
  color: black;
  gap: 10px;
  padding: 0 1rem;
  height: 2.5rem;
}
.task > div {
  display: flex;
  align-items: center;
}
.taskList {
  transform: translateY(-2.5rem);
}
.transitioned {
  transition: margin-top 1s;
  margin-top: 2.5rem !important;
}
.transitioning {
  margin-top: 0;
}
.taskList {
  transform: translateY(-2.5rem);
}
.transitioned {
  transition: margin-top 1s;
  margin-top: 2.5rem !important;
}
.transitioning {
  margin-top: 0;
}
.activeIcon {
  cursor: pointer;
}
.inactiveIcon {
  cursor: default;
}
.filters {
  display: flex;
}
.filters > button {
  width: 5rem;
  height: 1.5rem;
}
.controllers > Button {
  height: 1.5rem;
}
.controllers {
  height: 1.5rem;
  position: relative;
  background-color: white;
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
  color: black;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
